ANON_KEY="your-supabase-anon-key"
API_URL="http://127.0.0.1:54321"
DB_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
FUNCTIONS_URL="http://127.0.0.1:54321/functions/v1"
GRAPHQL_URL="http://127.0.0.1:54321/graphql/v1"
INBUCKET_URL="http://127.0.0.1:54324"
JWT_SECRET="your-32-character-jwt-secret"
MAILPIT_URL="http://127.0.0.1:54324"
MCP_URL="http://127.0.0.1:54321/mcp"
PUBLISHABLE_KEY="your-publishable-key"
REST_URL="http://127.0.0.1:54321/rest/v1"
S3_PROTOCOL_ACCESS_KEY_ID="your-s3-access-key-id"
S3_PROTOCOL_ACCESS_KEY_SECRET="your-s3-access-key-secret"
S3_PROTOCOL_REGION="local"
SECRET_KEY="your-secret-key"
SERVICE_ROLE_KEY="your-supabase-service-role-key"
STORAGE_S3_URL="http://127.0.0.1:54321/storage/v1/s3"
STUDIO_URL="http://127.0.0.1:54323"
